
td {
    border: 1px solid violet;
    background-color: violet;
    color: #7B1A9E;
}
th {
    background-color: #A952CB;
    color: rgb(255, 222, 255);
}

.nav-list{
    display: none;
}

.nav-list.show{
    display: flex;
    flex-direction: column;
}

.nav-list li{
    list-style: none;
    border-bottom: 1px solid #a933d4;
    padding: 2%;
}

#course {
    padding: 5% 10%;
}

@media (width >=768px) {
    #page-main{
        display: flex;
    }
    #nav-list li{
        margin: 20%;
        border: none;
    }
    td, th {
        width: 10%;
        padding: 1%;
    }
    table {
        width: 100%;
    }

    #sidebar{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 6vw;
        top: 12vh;
    }

    /* https://www.w3schools.com/cssref/css_pr_scroll-margin-top.php 
       lo que encontre para acomodar la posicion en la navegacion*/
    .subject-item {
        scroll-margin-top: 12vh;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        font-size: large;
        gap: 3vh;

    }

    #course-menu {
        display: none;
    }
}