
#fondo {
    margin: 0;

}
#page-main {
    height: 100%;
}
#navbar-main ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #C68EFD;
    margin:0;
    list-style: none;
}

#navbar-topics ul {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    list-style: none; /*le saca los puntitos*/
    justify-content: space-between;
    margin:0;

}

.oscuro #navbar-main ul, .oscuro #page-footer {
    background-color: #7B1A9E;
    color: white;
}

.claro #navbar-main ul, .claro #page-footer {
    background-color: #C68EFD;
    color: #5C1476;
}

.claro #navbar-topics {
    background-color: #E9A5F1;
    color: #5C1476;
}
.oscuro #navbar-topics {
    background-color: #A952CB;
}

/* MAIN */
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}

.claro #page-main {
    background-color: #FFD6F5;
    color: #7B1A9E;

}
.oscuro #page-main {
    background-color: #58206D;
    color: white;
}

a {
    text-decoration: none; /*le borro el underline*/
}

.claro a {
    color:#7B1A9E;
}

.oscuro a {
    color: white;
}

/*FOOTER*/
#page-footer figure{
    word-wrap: break-word;
    width: 70%;
}
#page-footer img {
    height: 25px;
}
#page-footer {
    bottom: 0;
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#page-footer img, #page-footer figure, #page-footer figcaption, #page-footer a { /*ayudaaaaa*/
    margin: 0;
    padding: 0;
}
#page-footer a {
    margin: 1% 0%;
    font-size: smaller;
}


