#fondo {
    margin: 0;
    height: 100vh;
}

#page-header{
    position: fixed;
    width: 100%;
    top: 0;
}

#page-main{
    /* agregamos este padding porque el header al quedar en la capa mas alta de la pagina
       tapa el contenido del main.*/
    padding-top: 15vh;
}

#navbar-main ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #C68EFD;
    margin:0;
    list-style: none;
}

#navbar-topics ul {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    list-style: none; /*le saca los puntitos*/
    justify-content: space-between;
    margin:0;

}

.oscuro #navbar-main ul, .oscuro #page-footer {
    background-color: #7B1A9E;
    color: white;
}

.claro #navbar-main ul, .claro #page-footer {
    background-color: #C68EFD;
    color: #5C1476;
}

.claro #navbar-topics {
    background-color: #E9A5F1;
    color: #5C1476;
}
.oscuro #navbar-topics {
    background-color: #A952CB;
}

/* MAIN */
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}

.claro #page-main {
    background-color: #FFD6F5;
    color: #7B1A9E;

}
.oscuro #page-main {
    background-color: #58206D;
    color: white;
}

a {
    text-decoration: none; /*le borro el underline*/
}

.claro a {
    color:#7B1A9E;
}

.oscuro a {
    color: white;
}

/*FOOTER*/
#page-footer figure{
    word-wrap: break-word;
    width: 70%;
}

#page-footer img {
    height: 25px;
}

#page-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: static;
}

#page-footer img, #page-footer figure, #page-footer figcaption, #page-footer a { 
    margin: 0;
    padding: 0;
}

#page-footer a {
    margin: 1% 0%;
    font-size: smaller;
}

@media (width >= 768px){
    #navbar-topics ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #navbar-main li {
        margin: 2% 0;
    }
    #navbar-topics li {
        margin: 1% 0;
    }
}